


/* ul.k-tabstrip-items.k-reset {
    width: 18%;
    float: left;
    display: grid;
    background-color: #F8FAFF;
    padding-bottom: 15px;
}
.k-widget.k-header.k-floatwrap.k-tabstrip.k-tabstrip-top {
    display: inline-table;
}
.k-content {
    width: 59%;
    float: left;
}
ul.k-tabstrip-items li.k-item.k-state-active.k-tab-on-top {
    background-color: #F8FAFF;
    color: #2666E3;
    border-color:#2666E3 ;
}
.k-widget.k-header.k-floatwrap.k-tabstrip.k-tabstrip-top {
    padding: 0 40px;
    width: 100%;
}
.k-tabstrip-items .k-link {
    padding: 10px 15px;
    font-family: "IBM Plex Sans";
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
} */
p.btm-p {
    color: #686868;
    font-family: "IBM Plex Sans";
    font-size: 11px;
    line-height: 14px;
    padding: 0;
    margin: 0;
    position: relative;
    top: -7px;
}
.account-form input[type=text], .account-form select, .account-form textarea {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 12px;
    resize: vertical;
    color: #464646;
    font-family: "IBM Plex Sans";
    font-size: 12px;
  }
  
  .account-form input[type=submit] {
    background-color: #2666E3;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    width: 100%;
}
  

.account-form label {
    color: #4D4D4D;
    font-size: 11px;
    font-weight: 500;
    font-family: "IBM Plex Sans";
}

.account-form .row .col-6 {
    width: 50%;
    padding-left: 7px;
    padding-right: 7px;
}
.account-form .row .col-4 {
    width: 33%;
    padding-left: 7px;
    padding-right: 7px;
}
.account-form .row .col-3 {
    width: 25%;
    padding-left: 7px;
    padding-right: 7px;
}
.k-tabstrip-items .k-item {
    border-left: 3px solid #f9f9f9;
}

.sel-left {
    width: 20%;
    float: left;
}
.sel-left select{
   border-radius: 0px;
}
.sel-right {
    float: left;
    width: 79%;
}
.sel-right select {
    border-left: 0px!important;
    border-radius: 0px 4px 4px 0px;
}
.right-discount-form select {
    outline: none;
}
.model-bottom {
    position: absolute;
    bottom: 0px;
    right: 0;
    left: 0;
}
.dis-form {
    padding: 0 10px;
}
.dis-form .row {
    justify-content: inherit;
}
.dis-form select {
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
    -webkit-appearance: none;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAAXNSR0IArs4c6QAAACxJREFUKFNjZCAAGIlRsBqfIpgJuBSFIluBrigUZDK6G2CKwJLYFGA4h6AvAN9hA7RQQBZFAAAAAElFTkSuQmCC) white;
    background-repeat: no-repeat;
    background-position: 97%;
    padding-right: 4px;
    color: #595959;
    font-size: 11px;
    font-weight: 500;
    font-family: 'IBM Plex Sans', sans-serif;
    position: relative;
    cursor: pointer;
}
.dis-form select option{
   font-size: 11px;
   padding-bottom: 5px;;
}
.k-tabstrip > .k-content {
    background-color: transparent;
    width: 78%;
}


.hr {
    height: 1px;
    background: #D4D4D4;
    margin-top: 20px;
    margin-bottom: 18px;
}
.account-form h5 {
    color: #464646;
    font-family: "IBM Plex Sans";
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
}
.imm input {
    color: #494949;
    font-family: "IBM Plex Sans";
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: justify;
}



@media screen and (min-width: 768px) and (max-width: 1024px){
    .account-form {
        padding-top: 10px;
    }
    .account-form input[type=text], .account-form, .account-form textarea {
        margin-bottom: 6px;
    }
    .MuiGrid-spacing-xs-3 > .MuiGrid-item {
        padding: 12px;
        margin-left: 21%;
    }
}

@media screen and (min-width: 250px) and (max-width: 1024px){
    .MuiGrid-spacing-xs-3 > .MuiGrid-item {
        padding: 12px;
        padding: 12px;
        margin-left: 28%;
    }
}
.k-animation-container-relative{  
    display: block;
}
.account-form .row {
    justify-content: inherit;
}
.add-details {
    border: 1px solid #BFBFBF;
    padding: 0 10px;
}
p#name-distributor-helper-text {
    margin-top: 5px;
    height: 28px;
    width: 101%;
    /* color: #686868; */
    font-family: "IBM Plex Sans";
    font-size: 11px;
    line-height: 14px;
    color: #464646;
    font-weight: 500;
}
p#outlined-textarea-helper-text {
    margin-top: 5px;
    height: 28px;
    width: 101%;
    /* color: #686868; */
    font-family: "IBM Plex Sans";
    font-size: 11px;
    line-height: 14px;
    color: #464646;
    margin-left: 2px;
    font-weight: 500;
}
.MuiFormHelperText-root{
    margin: 0;
    letter-spacing: 0.03333em;
    white-space: initial;
    margin-top: 5px;
    height: 28px;
    width: 102%;
    color: #464646;
    font-family: "IBM Plex Sans";
    font-size: 11px;
    line-height: 14px;
    color: none;
}

.MuiPaper-elevation1 {
    box-shadow: none !important;
}
.k-dropdown .k-dropdown-wrap, .k-dropdowntree .k-dropdown-wrap {
    border-width: 1px 0;
    border-top-color: #bfbfbf !important;
}
span.k-dropdown-wrap {
    border: 1px solid #bfbfbf !important;
}
.MuiPaper-root div div {
    text-align: left;
}
.k-i-arrow-s {
    border-left: none;
}
.k-dropdown, .k-dropdowntree {
    height: 33px;
    width: 100%;
    margin-top: 8px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 0px solid #F4F4F4;
}
p.section {
    color: #464646;
	/* font-weight: bold !important; */
    font-family: "IBM Plex Sans";
    font-size: 14px;
    font-weight: 500 !important;
    line-height: 18px;
    margin-left: 1px;
    border-bottom: 1px solid #BDD0FF;
    padding-bottom: 7px;
    margin: 0;
    padding: 10px 20px;
}

.MuiPaper-root div {
    text-align: left;
    color: #4D4D4D;
    font-family: "IBM Plex Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
}
h5.dist {
    color: #464646;
    font-family: "IBM Plex Sans";
    font-size: 12px;
    font-weight: 700 !important;
    line-height: 16px;
}
h5.dist1 {
    color: #464646;
    font-family: "IBM Plex Sans";
    font-size: 12px;
    font-weight: 700 !important;
    line-height: 16px;
    padding-left: 8px;
}
.sty_acc_form h5.dist {
    font-weight: 700!important;
 }
.sty_acc_form h5.dist.pl-2 {
    margin-left: 8px;
}

.MuiInputLabel-formControl {
    position: relative !important;
    transform: inherit !important;
}
.MuiOutlinedInput-input {
    padding: 8.5px 14px;
    outline: none !important;
    border: none !important;
    width: 100%;
}
.MuiInputBase-input {
    outline: none;
    height: 16px;
    width: 35px;
    color: #494949;
    font-family: "IBM Plex Sans";
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: justify;
    padding: 6px 7px 7px !important;
}
.MuiInput-underline:after{
    content: none;
}
.MuiInput-underline:hover:not(.Mui-disabled):before {
    border:none !important;
}
.MuiInput-underline:before {
    border:none !important;
}
.MuiFormControl-root.MuiTextField-root {
    width: 100%;
}
.MuiFormControl-root.MuiTextField-root input {
     box-sizing: border-box;
    height: 32px;
    width: 276.25px;
    border-radius: 1px;
    background-color: #FFF;
    border: 1px solid #F4F4F4;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: justify;
}
.MuiInput-underline:before{
    content: none !important;
}
.MuiInput-underline:after{
    content: none !important;
}
.MuiFormControl-root.MuiTextField-root label {
    color: #4D4D4D;
    font-family: "IBM Plex Sans";
    font-size: 11px;
    font-weight: 500;
    line-height: 14px;
}
.MuiFormControl-root.MuiTextField-root label + .MuiInput-formControl {
    margin-top: 8px;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #FFF;
    border: 1px solid #BFBFBF
}
.MuiPaper-root.makeStyles-paper-5.MuiPaper-elevation1.MuiPaper-rounded {
    margin: 0;
    padding-bottom: 0px;
}
.content {
    padding-right: 40px;
}

/******************/
img.menu-icon {
    float: right;
    width: 18px;
    padding-top: 3px;
}
.imc-logo {
    float: right;
    padding-top: 23px;
}
span.k-input {
    color: #494949;
    font-family: "IBM Plex Sans";
    font-size: 12px;
    font-weight: 500 !important;
    line-height: 16px;
    text-align: justify;
    padding: 8px 6px;
}

span.k-dropdown-wrap option{
    font-size: 5px Im !important;
}
.k-dropdown .k-dropdown-wrap, .k-dropdowntree .k-dropdown-wrap {
    height: 34px;
    border-radius: 3px;

}
.tst-label {
    padding-bottom: 8px;
    font-weight: 400 !important;
}
div#txt-bott .MuiPaper-root.makeStyles-paper-2.MuiPaper-elevation1.MuiPaper-rounded {
    padding-top: 0px;
}
div#txt-cl .MuiPaper-root {
    margin-bottom: 0;
    padding-bottom: 0;
}
p.txt-right {
    text-align: right;
}
div#txt-bott p {
    margin-top: 0;
}
p.bott-esr {
    white-space: initial;
    margin-top: 5px;
}
div#ads p {
    white-space: initial;
}
div#ads-br {
    border-radius: 2px;
    background-color: #FFF;
    border: 1px solid #BFBFBF;
}
.add-left h5.dist {
    padding-left: 0;
}
.add-rigth {
    padding-top: 44px;
}
.modal-dropdown span.k-icon.k-i-arrow-s {
   overflow: hidden;
    overflow: -moz-hidden-unscrollable;
    -webkit-appearance: none;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAAXNSR0IArs4c6QAAACxJREFUKFNjZCAAGIlRsBqfIpgJuBSFIluBrigUZDK6G2CKwJLYFGA4h6AvAN9hA7RQQBZFAAAAAElFTkSuQmCC) white;
    background-repeat: no-repeat;
    background-position: 97%;
    padding-right: 4px;
    color: #595959;
    font-size: 11px;
    font-weight: 500;
    font-family: 'IBM Plex Sans', sans-serif;
    position: relative;
    cursor: pointer;
}
.modal-dropdown .k-i-arrow-s::before {
    content: none;
}



/* ashish OPP */
.hedding_h5 h5 {
  margin: 4px 7px 27px 0px;
}

.MuiGrid-spacing-xs-3>.MuiGrid-item {
    padding: 14px 0px !important;
    
}
.k-icon {
    font-size: 12px;
    font-weight: 100 !important;
}

/* .MuiFormControl-root.MuiTextField-root label+.MuiInput-formControl {
    width: 96%;
} */
p#name-distributor-helper-text {
    color: #686868 !important;
    font-size: 10.5px !important;
    color: #b0b0b0 !important;
    font-weight: 300 !important;
}

div#txt-bott p {
    margin-top: 3px;
        color: #686868 !important;
        font-size: 10.5px !important;
        color: #b0b0b0 !important;
        font-weight: 300 !important;
}
.MuiOutlinedInput-multiline {
    padding: 9px 6px !important;
    color: #4D4D4D !important;
    font-weight: bold !important;
}

.makeStyles-container-1 {
    grid-gap: 0px !important;
}
.MuiFormControl-root.MuiTextField-root input {
    width: 100% !important;
}
.k-widget.k-dropdown.custom-dropdown {
    width: 27%;
    border: none;
    height: auto;
    left: 4px;
    top: 1px;
}
span.k-widget.k-dropdown.custom-dropdown span.k-icon.k-i-arrow-s {
    font-size: 14px;
    font-weight: 100 !important;
    color: #545454;
}
.MuiFormControl-root.MuiTextField-root.custom-text-area {
    width: 25%;
    margin-top: 9px;
    border-top:1px solid #bfbfbf;
    border-right:1px solid#bfbfbf;
    border-bottom:1px solid #bfbfbf;
}

.makeStyles-divider-3 {
   margin: 16px 8px 0px 7px;
}
.custom-dropdown .k-dropdown-wrap{
	border-right:none !important;
	border-radius: 0px !important;
	border-right: none !important;
	}

.custom-text-area.MuiFormControl-root.MuiTextField-root input {

    border: 1px solid #fff !important;
  
}

.pa0 {
    display: inline-block;
    position: relative;
    right: 4px;
}
.custom-dropdown .k-dropdown-wrap
.custom-dropdown.br-n.k-dropdown-wrap{
	
    border-right: none !important;
    border-radius: 0px !important;
    border-left: none !important;
	}
.MuiFormControl-root.MuiTextField-root.custom-text-area.custom-text-area-boder-non {
    width: 25%;
    margin-top: 9px;
    border-top: 1px solid #bfbfbf;
  border-right: none !important;
    border-bottom: 1px solid #bfbfbf;
}	
/* ashish End  */

button.k-button.k-flat.k-primary.address-button {
    color: #2666E3;
    text-transform: capitalize !important;
        font-weight: 500;
    font-size: 12px;
}
/* modal */
.add-new-address-tab-strip.k-tabstrip-content.k-state-active, .add-new-address-tab-strip.k-tabstrip > .k-content.k-state-active {
    display: block; 
    position: absolute;
    left: 4px !important;
    top: 52px !important;
}
.add-new-address-tab-strip ul.k-tabstrip-items.k-reset {
   width: 100%;
    float: left;
    /* display: grid; */
    /* background-color: #F8FAFF; */
    padding-bottom: 0px;
}
.add-new-address-tab-strip .k-tabstrip-items {
   text-transform:initial
}
.add-new-address-tab-strip .k-tabstrip-items .k-link {
    padding: 10px 15px;
    font-family: "IBM Plex Sans";
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
}
 .add-new-address-tab-strip ul.k-tabstrip-items li.k-item.k-state-active.k-tab-on-top {
    /* background-color: #F8FAFF; */
    color: #2666E3;
    /* border-color:#2666E3 ; */
}
.k-tabstrip-items .k-item:first-child {
    border-bottom: 0px solid #F8FAFF;
    margin-bottom: 7px;

}
.add-new-address-tab-strip .k-tabstrip-items .k-item {
    border-left: 0px solid #f9f9f9;
}
.add-new-address-tab-strip .k-tabstrip-content, .k-tabstrip > .k-content {
    padding: 0px 24px;
    border-width: 0px;
    border-style: solid;
    border-color: inherit;
    display: none;
    overflow: auto;
    flex: 1 1 auto;
}
.k-dialog-wrapper.add-new-address-dialog .k-dialog {
    /* height: 397.5px; */
    /* width: 616px; */
    border-radius: 20px;
    background-color: #FFF;
    margin-top: 61px;
    height: 575px;
    width: 633px;
}
/* button */
button.k-button.add-address-save-btn {
    height: 32px;
    width: 112px;
    border-radius: 3px;
    background-color: #2666E3;
    color: #FFF;
    font-family: "IBM Plex Sans";
    font-size: 12px;
    left: 10px;
}
.address-line{
    margin-left: 12px;
}
/* form-level */
.form-level {
    font-weight: 500 !important;
}
.MuiTypography-gutterBottom {
    margin-bottom: 31.35em !important;
}

.add-new-address-tab-strip .k-tabstrip-items .k-link {
    padding: 10px 20px 10px 0px;
}

.content.sty_acc_form {
    padding-right: 10px;
}