.sidebar-menu {
  /*  height: 245px;*/
    background-color: #F8FAFF;
	width: 13.4%;
	left: 40px;
}

.sidebar-menu ul li a{
    padding: 10px 15px;
    font-family: "IBM Plex Sans";
    font-size: 12px;
    line-height: 16px;
    display: block;
    text-decoration: none;
    color: #464646;
   cursor: pointer;
    line-height: 16px;
  font-weight: 400 !important;
}


.sidebar-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu ul li a.active {
    color: #2666E3;
    background: #dfe8ff;
  font-weight: 700 !important;
  border-left: 2px solid #2666E3;
}

.imc-logo {
	position:relative;
    left: 8px;
}.k-dropdown .k-dropdown-wrap .k-select, .k-dropdowntree .k-dropdown-wrap .k-select {
    padding: 8px 13px !important;
}