.column-chosser.Show {
    right: 0;
}
.column-chosser{
    top: 0;
    position: fixed;
    right: -273vh;
    background-color: #fff;
    box-shadow: 0 0 4px 0px rgb(0 0 0 / 15%);
    /*padding: 0 12px 12px;*/
    transition: all 0.3s ease-out;
    z-index: 10000 !important;
    height: 100%;
    max-width: 485px;
    width: 100%;
    overflow: auto;
}
.columnOverlay {
  background-color: rgba(0,0,0,0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: none;
  z-index: 9999;
}

.columnOverlay.Show {
  display: block;
}
/* column-chosser */
.row.row-bottom {
    margin-bottom: 16px;
}
.row.row-check-box{
    margin-bottom: 5px;
}
.colum-chooser-check-box .k-checkbox{
    margin-top: 0px !important;
}
/* .colum-chooser-check-box .k-checkbox + .k-checkbox-label, .k-checkbox-label + .k-checkbox {
} */