.Overlay {
  background-color: rgba(0,0,0,0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: none;
  z-index: 9999;
}

.Overlay.Show {
  display: block;
}
/**************************************************/
.Modal {
    top: 0;
    position: fixed;
    right: -273vh;
    background-color: #fff;
    box-shadow: 0 0 4px 0px rgb(0 0 0 / 15%);
    /* left: 670px; */
    padding: 0;
    transition: all 0.3s ease-out;
    z-index: 10000;
    height: 100%;
    max-width: 485px;
    width: 100%;
    overflow: auto;
}

.Modal.Show {
  right: 0;
}

.Close {
    cursor: pointer;
    position: absolute;
    top: 18px;
    right: 23px;
    background-color: transparent;
    border: 0;
    font-size: 15px;
    color: white;
}
.Dropdown-root.discount-form-dropdown {
    width: 100%;
    padding: -1px 12px !important;
    /* border: 0px solid #ccc; */
    /* border-radius: 4px; */
    /* box-sizing: border-box; */
    margin-top: 6px;
    margin-bottom: 25px !important;
    resize: vertical;
    color: #464646 !important;
    font-family: "IBM Plex Sans";
    font-size: 12px !important;
}
.discount-form-dropdown.Dropdown-control{
position: relative;
    overflow: hidden;
    background-color: white !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    box-sizing: border-box;
    /* color: #333; */
    cursor: default;
    outline: none;
    /* padding: 6px 58px 8px 10px; */
    transition: all 200ms ease;
    color: #464646;
    padding: 8px 12px !important;
}