/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,500;1,100;1,200;1,300;1,400&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap');

body {
    margin: 0;
    margin-top: 48px !important;
    font-family: 'IBM Plex Sans', sans-serif !important;
}
.body{
        float: left;
}
li, a, p, span, h1, h2, h3, h4{
    font-family: 'IBM Plex Sans', sans-serif;
}
.k-grid-header .k-header {
    position: relative;
    vertical-align: baseline;
    cursor: default;
    padding-left: 6px;
    border:0px;
        color: #595959;
}
td .k-dropdown-button{
    float: right;
    width: 30px;
}
.k-grid {
    height: 100%;
}
.container {
    padding: 0 30px;
}
.SettingIcon{
    vertical-align: bottom;
    margin: 3px auto 3px 6px;
    cursor: pointer;
    /* float: right; */
    margin-left: 0;
}
.Group1Icon1{
    height: 4px;
    width: 10px;
}
.search-box{
    height: 56px;
  /*  width: 100%;*/
    background-color: #F7F7F7;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 0 10px; 
}
.SerachImg {
        display: inline-block;
    height: 14px;
    width: 14px;
    margin-top: 19px;
/*    margin-left: 24px;*/
}

.Sortrder{
    box-sizing: border-box;
    height: 32.95px;
    width: 3%;
    border: 1px solid #C4C4C4;
}

#select-box {
    box-sizing: border-box;
    height: 34.95px;
    width: 48px;
    border: 1px solid #C4C4C4;
    margin-bottom: 13px;
}
.form-group {
    display: inline;
    /* border: 0px;
    background: transparent;
    text-indent: 15px;
    height: 16px;
    width: 106px;
    color: #595959;
    
      font-size: 12px;
    font-style: italic;
    line-height: 16px; */
}
.form-control{
    background: transparent;
    border: 0px;
    height: 16px;
    text-indent: 17px;
    width: 536px;
    color: #595959;
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 20px;
    position: relative;
    top: -4px;
    font-family: 'IBM Plex Sans', sans-serif !important;
    font-weight: 400;
    font-stretch: expanded;
    font-style: italic;
    transform: scaleY(1.02);
}
input:focus {
    outline: none;
    border-color: lightgray;
}
.Button{
    display: inline;
    float: right;
    display: inline;
    float: right;
    margin-top: 14px;
    margin-right: 19px;
    font-family: 'IBM Plex Sans', sans-serif !important;
}
/* .pagination{
    box-sizing: border-box;
    height: 32px;
    width: 132px;
    border-radius: 3px;
    background-color: #F7F7F7;
    margin-right: 32px;
}
} */
.pagination{
    float: right;
}
.div-filter{
    box-sizing: border-box;
    height: 90px;
    width:100%;
    border-radius: 2px;
    background-color: #FFF;
    border: 1px solid #AAA;
}
.no-filter-selected{
    border-bottom: 1px solid #9B9B9B;
    padding-bottom: 6px;
    font-size: 12px;
    /* line-height: 17px; */
    text-align: center;
}
.k-button:hover, .k-button:focus {
    text-decoration: none;
    outline: 0;
    background: transparent;
}
.k-dropdown-button{
    box-sizing: border-box;
    height: 32px;
    /* width: 73px; */
    border-radius: 3px;
    background-color: #F7F7F7;
    border: 1px solid #CACACA;
    margin-right: 5px;
}
.k-button{
    background: transparent;
    height: 32px;
    width: 100%;
    color: #595959;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    box-shadow: none;
    font-family: 'IBM Plex Sans', sans-serif !important;
    text-transform: capitalize;
}
.k-button-group{
    box-sizing: border-box;
    height: 32px;
    /* width: 135px; */
    border-radius: 3px;
    background-color: #F7F7F7;
    border: none;
    box-shadow: none;
    /* margin-right: 5px; */
    box-shadow: none;
}
.k-i-arrow-s{
 height: 29px;
    width: 15px;
    border-left: 1px solid #CACACA;
}
.k-dropdown-button {
    box-sizing: border-box;
    height: 32px;
    width: 93px;
    border-radius: 3px;
    background-color: #F7F7F7;
    border: 1px solid #CACACA;
    margin-right: 5px;
}
.k-grid-header{
    box-sizing: border-box;
    /* height: 46px; */
    width: 100%;
    background-color: #FFF;
    /* border: 1px solid #CCC; */
}
.k-button-group {
    box-sizing: border-box;
    height: 32px;
    /* width: 132px; */
    border-radius: 3px;
    background-color: #F7F7F7;
 
    box-shadow: none;
    /* margin-right: 5px; */
}
.body-container{
    padding: 0px 30px;
}
.navbutton .k-button:first-child {
        border-right: 1px solid #fff;
    padding: 10px 24px 10px 20px;

}
.k-grid {
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    outline: 0;
    
    /*   font-size: 12px; */
    line-height: 2;
    display: flex;
    flex-direction: column;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    box-shadow: none;
    border-color: #ccc;
}
colgroup{
height: 16px;
width: 58px;
color: #595959;

font-size: 15px;
font-weight: 500;
line-height: 16px;
}
.k-master-row{
    height: 64px;
  width: 1356px;
  background-color: #F4F6FD;
}
.Checkbox{
    box-sizing: border-box;
    height: 15px;
    width: 20px;
    background-color: #FFF;
    border: 1px solid #C4C4C4;
  cursor: pointer;
}
.CheckboxIcon{
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 14px;
    padding: initial;
    border: initial;
    width: 71px;
}
.CheckBoxInput{
    width: 100px;
  cursor: pointer;
}
.GroupIcon{
    height: 16.5px;
    margin-left: 22px;
}
.Img{
    height: 38.63px;
    width: 72px;
    margin-left: -8px;
}
.part{
    height: 16px;
    /* width: 100%; */
    color: #595959;
    
    font-size: 11px;
    line-height: 16px;
}
.Description{
    height: 42px;
  width: 408px;
  color: #595959;
  
    font-size: 11px;
  line-height: 18px;
}
.Mfr{
    height: 16px;
  width: 150px;
  color: #595959;
  
    font-size: 11px;
  line-height: 16px;
}
.Price{
   height: 16px;
  width: 100px;
  color: #595959;
  
    font-size: 11px;
  line-height: 16px;
}
.Catalog{
    height: 16px;
  width: 56px;
  color: #595959;
  
    font-size: 11px;
  line-height: 16px;
}
.EnteredBy{
    height: 16px;
  /* width: 76px; */
  color: #595959;
  
    font-size: 11px;
  line-height: 16px;
}

.k-grid-header .k-header > .k-link {
     margin: 0px;
   padding: 4px 0px;
    line-height: inherit;
    display: block;
    overflow: hidden;
    text-overflow: initial;
    outline: 0;
}
.k-grid-header {
    padding-inline-start: 0;
    padding-inline-end: calc(var(--kendo-scrollbar-width, 17px + 1px) - 1px);
    border-bottom-width: 0px;
      font-size: 12px;
}
.k-grid th, .k-grid td {
    border-left-color: transparent;
    padding: 3px;
    font-family: 'IBM Plex Sans', sans-serif !important;
    border: 0px;
}
.k-grid table thead tr:hover{
background-color: transparent !important;
}

/*Header Section */

.ulnavbar {
    list-style-type: none;
    padding-left: 0px !important;
    margin: 0;
}
.logo {
        width: 19%;
    padding: 13px 4px;
    font-size: 18px;
    font-weight: 700;
    float: left;
}

.menu-left {
    width: 62%;
    float: left;
}
.menu-right {
    width: 18%;
    float: left;
}

.ulnavbar li {
    float: left;
    padding: 0px 35px 0px 2px;
}

.ulnavbar li a {
        display: block;
    padding: 16px 0px 12px;
    text-decoration: none;
    border-bottom: 4px solid #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #464646;

}

/* .ulnavbar li a:hover {
  color: #2666E3;
  border-color: #2666E3;
} */
.navbutton .k-button{
    color:white
}
.navbutton .k-i-arrow-s{
    color:white;
    padding-left: 5px;
}
.navbutton .k-i-arrow-s::before {
    content: "\e006";
    color: white;
}
.navbutton{
    /* width: 92px; */
    background-color: #2666E3;
    color: white;
    float: right;
    margin: 8px -1px 0px 58px;
}
.navbutton .k-button-icon{
       width: 38px !important;
    padding-right: 12px !important;
}
.logo a {
    color: #333;
    text-decoration: none;
}
.ulnavbar li .nav-btn{  
  color: white;
  margin-top: 10px;
  margin-left: 320px;
}
.Dropdown-option.default-selected {
    background-color: #2666E3;
    color: white;
}
/*Model*/
.k-overlay {
    background-color: rgba(0,0,0,0.4);
}
/* .column-chosser .k-overlay{
    background-color: transparent;
} */

.k-window {
    border-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.87);
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(179,179,179,0.5);
}
.k-dialog {
    height: 397.5px;
    width: 616px;
    border-radius: 20px;
    background-color: #FFF;
    margin-top: 21px;
}
.group-button{
    box-sizing: border-box;
    height: 37px;
    width: 276.25px;
    border-radius: 2px;
    background-color: #FFF;
    
    /* border: 1px solid #BFBFBF; */
}
.navhead li a{
    color: "#333";
    font-size: '18px';
    /* margin-top: "15px" */
}
.k-grid-content.k-virtual-content table.k-grid-table {
    width: 100%  !important;
}

/* a .textli {
   
} */
.edtihorizontal{
    width: 0px;
    border: none;
    box-shadow: none;
    background: transparent !important;
}
/* .edtihorizontal:hover,.edtihorizontal:focus{
    width: 0px;
    border: none;
    box-shadow: none;
    background: transparent !important;
} */

span.k-icon.k-i-more-horizontal {
    color: #2666E3;
    font-weight: bold;
    font-size: 20px;
    box-shadow: none;
}
.k-button .k-icon, .k-button .k-image, .k-button .k-sprite {
    color: #595959;
    align-self: center;
    position: relative;
}
.company-favorite-group-menu-gr{
 height: 26px;
  width: 117px;
  color: #464646;
  
  font-size: 20px;
  line-height: 26px;
}
.you-can-create-new-group-or-mo{
    height: 16px;
  width: 407px;
  opacity: 0.8;
  color: #464646;
  
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  /* border-bottom: 1px solid #D7D7D7; */
}

.you-can-create-new-group-or-mo1{
    height: 16px;
  width: 100%;
  opacity: 0.8;
  color: #464646;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  border-bottom: 1px solid #D7D7D7;
  display: block;
}
.rectangle-4{
    /* height: 1px;
  width: 615px;
  border-radius: 20px;
  background-color: #D7D7D7; */
  border-bottom: 1px solid #D7D7D7;
}
.select-group{
    height: 14px;
    width: 64px;
    color: #4D4D4D;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
}
.enter-group-name{
	height: 14px;
	width: 94px;
	color: #4D4D4D;
	font-size: 11px;
	font-weight: 400;
	line-height: 14px;
}
.group-control{
    box-sizing: border-box;
  height: 32px;
  width: 276.25px;
  border-radius: 2px;
  background-color: #FFF;
  /* border: 1px solid #BFBFBF; */
}
.type-here {
    height: 31px;
    width: 267px;
    color: #464646;
    text-indent: 15px;
    font-size: 12px;
    line-height: 16px;
    text-align: justify;
    border: 1px solid #BFBFBF !important;
    text-transform: capitalize;
    margin-top: 5px;
}
.Dropdown-root.group-button .Dropdown-control {
    margin-top: 5px;
}
/* / =======================group item start here ======== / */

.group-item{
    height: 57px;
    width: 100%;
    background-color: #F7F7F7;
        margin-top: 30px;
    margin-bottom: 30px;
}

.selected-item {
    display: inline-block;
    height: 14px;
    width: 250px;
    margin-top: 7px;
    margin-left: 22px;
        color: #595959;
}
.clearlink{
    text-decoration: none;
    color: #2666E3;
    margin-left: 15px;
    cursor: pointer;
    font-weight: 600;
}

.button-group {
    display: inline;    
}
div.Button{
    display: inline;
    float: right;
    display: inline;
    float: right;
        margin-top: 11px;
    margin-right: 0;
}

.group-item-btn{
    border: 1px solid rgb(214, 209, 209);
    margin-right: 7px;
    border-radius: 3px;
}
/* / ====================group item end here ======================== / */
.filter-button-div{
    padding-left: 13px;
}
.filter-button-div img{
        padding-top: 3px;
    padding-right: 2px !important;
}
.Sort .k-button{
    /* padding-left: 11px; */
    font-weight: 400;
}
.k-button:active{
    box-shadow: none;
}
.Sort{
    width: 72px;
}
/*.k-animation-container.k-animation-container-relative.k-animation-container-shown {
    position: absolute;
    height: auto;
    width: auto;
    top: 148px;
    left: auto!important;
    right: 1px;
    font-size: 11px;
    z-index: 9999;
}*/

.numb-link{
    text-decoration: none;
    margin-right: 3px;
    border-radius: 2px;
    background-color: #F7F7F7;
    padding: 5px;
    height: 12px;
    width: 6px;
    color: #595959;
    
    font-size: 9px;
    font-weight: 500;
    line-height: 12px;
}
.pagedot{
    text-decoration: none;
    height: 12px;
    width: 32px;
    color: #595959;
    
    font-size: 9px;
    font-weight: 500;
    line-height: 12px;
}
.show-results{
     height: 14px;
  width: 67px;
  color: #575757;
  font-size: 11px;
  line-height: 14px;
  text-align: center;
  top: 5px;
  position: relative;
}
.go-to{
     height: 14px;
  width: 32px;
  color: #575757;
  top: 5px;
  position: relative;
  font-size: 11px;
  line-height: 14px;
  text-align: center;
}
 .show-results1{
    height: 25px;
    width: 89px;
    border-radius: 2px;
    background-color: #F7F7F7;
    margin-top: -8px;
    border: none;
    color: #5d5d5d;
    font-size: 12px;
}
 .show-results1 option{
    height: 14px;
  width: 14px;
  opacity: 0.8;
  color: #595959;
  /* font-family: "IBM Plex Sans"; */
  font-size: 11px;
  font-weight: 500;
  line-height: 14px;
}
.go-to1{
    height: 30px;
    width: 104px;
    border-radius: 2px;
    background-color: #F7F7F7;
    margin-top: -8px;
}
/*
. */
.rectangle2{
   margin: 0px 0px 0px -20px;
    width: 264.07px;
}
.box-btn{
    position: relative;
    margin-top: -28px;
}
.box1{
    position:absolute;
    left: 1px;
    top: 8px;
   
}
  .div-image{
    margin-top: -10px;
    margin-bottom: 4px;
  } 
  .div-image-filter{
    margin-top: -15px;
    margin-bottom: -18px;
    margin: -15px 0px -20px 19px;
  }
  .add-filter{

        color: #2666E3;
        font-size: 12px;
        cursor: pointer;
        text-decoration: none;
  }
  p.filter-p {
    text-align: center;
    margin: 0;
    position: relative;
    top: -5px;
}
.box2{
    position:absolute;
     left: 106px;
    top: 8px;
}
.page{
  height: 14px;
    width: 25px;
    color: #575757;
    
    font-size: 12px;
    /* line-height: 14px; */
    /* text-align: center; */
    margin-top: -8px;
}
.k-animation-container-shown, .k-animation-container > .k-popup{
box-shadow: none;
border: none !important;
}
.popup-content{
     box-sizing: border-box;
  height: 140px;
  width: 265px;
  border-radius: 2px;
  background-color: #FFF;
  border: 1px solid #AAA;
}
.filter-offset{
    box-sizing: border-box;
    height: 90px;
  /*  width: 250px;*/
    width: auto;
    border-radius: 2px;
    background-color: #FFF;
    border: 1px solid #AAA;
        margin-top: 3px;
}
.add-filter-content{
  box-sizing: border-box;
  height: 338px;
  width: 560px;
  border-radius: 2px;
  background-color: #FFF;
  border: 1px solid #AAA;
}
.or{
     height: 13px;
  width: 14px;
  color: #575757;
  
  font-size: 10px;
  font-weight: 600;
  line-height: 13px;
}
.and {
  height: 13px;
  width: 21px;
  color: #575757;
  
  font-size: 10px;
  font-weight: 600;
  line-height: 13px;
}
.filter-button{
  height: 32px;
    width: 139px;
    border-radius: 2px;
    background-color: #F4F4F4;
    border: none;
}
.filter-button-div{
    box-sizing: border-box;
    height: 32px;
    width: 72px;
    border-radius: 3px;
    background-color: #F7F7F7;
    border: 1px solid #CACACA;
    text-transform: capitalize;
    font-weight: 400;
}
.pagination-div{
    box-sizing: border-box;
    height: 32px;
    width: 132px;
    border-radius: 3px;
    background-color: #F7F7F7;
    border: 1px solid #CACACA;
    margin-right: 5px;
    font-weight: 400;
}
.close {
    height: 9px;
    width: 30px;
    text-align: center;
}
.or-button{
     height: 24px;
  width: 40px;
  border-radius: 2px;
  background-color: #F4F4F4;
}
.and-button{
     height: 24px;
  width: 40px;
  border-radius: 2px;
  background-color: #F4F4F4;
}
.td-button{
    border: none;
    color: #575757;
    font-size: 10px;
    font-weight: 600;
    line-height: 7px;
    margin: 0px 0px 0px -1px;
    font-family: 'IBM Plex Sans', sans-serif !important;
}
.filter-table {
    box-sizing: border-box;
    height: 371px;
    width: 570px;
    border-radius: 1px;
    background-color: #FFF;
    padding: 0;
    outline: 1px solid #8080807d;
    border-collapse: collapse;
    overflow: hidden;
}

.k-content.k-window-content.k-dialog-content option {
    padding: 7px 0px !important;
    font-size: 15px !important;
}
.add-filter-clear-filters {
  height: 16px;
  width: 137px;
  color: #2666E3;
  
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
  text-align: center;
  border-bottom: 1px solid #9B9B9B;
  padding-top: 10px;
}
.add-filter-clear-filters a{
  height: 16px;
  width: 137px;
  color: #2666E3;
  
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
}
.sty_apply{
	    font-weight: 600!important;
}
.close-filter {
    height: 12px;
    width: 31px;
    color: #2666E3;
    font-family: Helvetica;
    font-size: 12px;
    line-height: 39px;
    font-weight: 400;
    cursor: pointer;
    font-family: 'IBM Plex Sans', sans-serif !important;
}
.page-span{
    height: 18px;
    width: 18px;
    border-radius: 2px;
    background-color: #F7F7F7;
    margin: 0px 2px 0px 1px;
}
.filter-button modal-dropdown  {
   height: 28px;
    width: 53px;
    border-left: none;
}
.popup-content.add-filter-content.k-popup.k-child-animation-container.k-slide-down-enter.k-slide-down-enter-active {
    height: 382px;
}
.and-rectangle{
    margin: 0px 10px 6px -164px;
    width: 397px;
}
.close-img{
    margin: 0px 0px 0px -7px;
}

.select-group-dialog{
    height: "26px";
    width: "117px";
    color: "#464646";
    
    font-size: "20px";
    line-height: "26px";
    margin-left: "50%"
}

.row {
    display: flex;
    justify-content: center;
}
.Dropdown-option.myOptiondivider {
    background-color: white;
    color: darkgray;
}
.Dropdown-option.myOptiondivider.is-selected {
    background-color: white;
    color: darkgray;
}
.k-content.k-window-content.k-dialog-content .Dropdown-menu {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 1px 0 rgb(0 0 0 / 6%);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 119px;
    overflow-y: auto;
    position: absolute;
    top: 94%;
    width: 100%;
    z-index: 1017;
    -webkit-overflow-scrolling: touch;
}
.k-content.k-window-content.k-dialog-content .Dropdown-option.default-selected {
    background-color: #2666E3 !important;
    color: #fff !important;
}
.k-content.k-window-content.k-dialog-content .Dropdown-option {
    box-sizing: border-box;
    color: #717171;
    cursor: pointer;
    display: block;
    padding: 7px 10px;
    font-size: 13px;
}
.Dropdown-option.myOptionClassName {
    color: #2666e3;
    font-weight: 500;
    text-align: center;
 
}
.Dropdown-option.myOptionClassName.is-selected {
	color: #2666e3!important;
    height: auto;
    width: 100%;
    font-weight: 500;
    text-align: center;
    font-size: 12px!important;
    margin-left: auto;

}
 .k-animation-container.k-animation-container-relative.k-animation-container-shown {
    position: absolute;
    height: 132px;
    top: 148px;
    left: auto!important;
    right: 35px;
    font-size: 11px;
    z-index: 9999;
  } 


.k-split-button .k-button {
    box-shadow: none;
    text-transform: capitalize;
    font-size: 12px;
    font-family: 'IBM Plex Sans', sans-serif !important;
}
tr.border-and{
    position: relative;
}
tr.border-and:after {
    content: '';
    height: 1px;
    width: 94%;
    background: #CECECE;
    position: absolute;
    left: 33px;
    right: 0;
    top: 15px;
}
tbody.filter-tbody {
    border: 10px solid white;
}
tfoot:before {
    content: '';
    height: 1px;
    width: 111%;
    background: #CECECE;
    position: absolute;
    left: -16px;
    right: 10px;
    top: 8px;
}
tfoot.filter-tfoot {
    position: relative;
    border-left: 10px solid #fff;
    border-right: 5px solid #fff;
}
.popup-content.pagination-border.k-popup.k-child-animation-container.k-slide-down-enter.k-slide-down-enter-active {
    border: 1px solid #AAA !important;
}
.box2 select.show-results1 {
    font-size: 10px;
    outline: none;
}
.box1 select.show-results1 {
    outline: none;
}
.show-results1 modal-dropdown  {
    border: none;
    left: 9px;
    top: -2px;
}
.show-results1 .k-button:hover::before, .show-results1 .k-button.k-state-hover::before {
    opacity: 0;
}
.k-widget.k-split-button.k-button-group.show-go-to {
    height: 28px;
    width: 114px;
    border-radius: 2px;
    background-color: #F7F7F7;
    margin-top: -8px;
    border: none;
    color: #5d5d5d;
    font-size: 12px;
}
.k-widget.k-split-button.k-button-group.show-go-to  .k-i-arrow-s {
    border-left:none;
}
.k-widget.k-split-button.k-button-group.show-go-to .k-button:hover::before, .k-widget.k-split-button.k-button-group.show-go-to  .k-button.k-state-hover::before {
    opacity: 0;
}
button.k-button.pagination-div.page-icon .span-img {
    border-left: 1px solid lightgrey;
    height: 32px;
}
span.sp-fl {
    position: relative;
    left: -6px;
}
img.down-arrow {
    left: 10px;
    position: relative;
    top: 10px;
}

button.k-button.sort-button-div {
    box-sizing: border-box;
    height: 32px;
    width: 89px;
    border-radius: 3px;
    background-color: #F7F7F7;
    border: 1px solid #CACACA;
    margin-right: 2px;
}


.k-content.k-window-content.k-dialog-content .Dropdown-menu {
    padding-bottom: 18px;
} 
/* .Dropdown-option.myOptionClassName {
    color: #2666e3 !important;
    font-weight: 600;
} */
.Dropdown-option.myOptiondivider {
    border-bottom: 1px solid rgb(170 170 170 / 45%);
    padding-top: 3px !important;
    padding: 0px !important;
    font-size: 0px !important;
    margin:  0;
}

.ulnavbar li a:hover,a.textli.active {
    color: #2666E3;
    font-weight: 500;
    position: relative;
}
.ulnavbar li a:hover:after,a.textli.active:after {
         position: absolute;
    content: '';
    height: 4px;
    bottom: -4px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 54.1%;
    background: #2666E3;
		  -o-transition:.5s;
  		  -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
    }
/******************* media **************/

@media (max-width: 1024px) {
    .menu-left  a.textli {
        font-size: 11px;
    padding: 12px 2px;
    }
 .logo {
        width: 12%;
        padding: 15px 7px;
        font-size: 13px;
    }
    .row {
        justify-content: initial;
    }
  }

  @media (max-width: 768px) {
    .menu-left  a.textli {
        font-size: 11px;
    padding: 12px 0px;
    }
.ulnavbar li {
    float: left;
    padding: 0px 8px 0px 0px;
}
 .logo {
        width: 12%;
        padding: 15px 7px;
        font-size: 13px;
    }
    .row {
        justify-content: initial;
    }
  }


  select#select-box {
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
    -webkit-appearance: none;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAAXNSR0IArs4c6QAAACxJREFUKFNjZCAAGIlRsBqfIpgJuBSFIluBrigUZDK6G2CKwJLYFGA4h6AvAN9hA7RQQBZFAAAAAElFTkSuQmCC) white;
    background-repeat: no-repeat;
    background-position: 32px;
    padding-left: 7px;
    color: #595959;
    font-size: 11px;
    font-weight: 500;
    font-family: 'IBM Plex Sans', sans-serif;
}
select#select-box {
    outline: none;
}


.show-results1 {
    border: none !important;
    background-color: #f7f7f7 !important;
    width: 90px !important;
    height: 25.95px !important;
    padding-left: 12px !important;
    background-position: 66px !important;
}
select#select-box option {
    border-radius: 15px;
    line-height: 33px !important;
    font-size: 12px;
}
.Dropdown-option {
    box-sizing: border-box;
    color: #717171;
    cursor: pointer;
    display: block;
    padding: 7px 10px !important;
    font-size: 11px !important;
}
.Dropdown-option.is-selected {
    background-color: #F4F4F4 !important;
    color: #717171 !important;
}
.Dropdown-option:hover {
    background-color: #F4F4F4 !important;
    color: #717171 !important;
}
.Dropdown-option.myOptionClassName:hover {
    background-color: transparent !important;
    color: #2666e3 !important;
}
.Dropdown-placeholder {
     height: 16px !important;
  width: 120px !important;
/*  opacity: 0.65 !important;*/
  color: #464646 !important;
  font-family: "IBM Plex Sans" !important;
  font-size: 12px !important;
  line-height: 16px !important;
  text-align: justify !important;

}

.filter-button-split.k-button-group {
    width: 132px !important;
}
/* @media screen and (min-width: 1440px) and (max-width: 1500px){

    .k-grid-header .k-header:nth-child(2){
      padding-left: 5px;
    }
    .k-grid-header .k-header:nth-child(3){
        padding-left: 8px;
      }
      .k-grid-header .k-header:nth-child(4){
        padding-left: 8px;
      }
      .k-grid-header .k-header:nth-child(5){
        padding-left: 12px;
      }
      .k-grid-header .k-header:nth-child(6){
        padding-left: 20px;
      }
      .k-grid-header .k-header:nth-child(7){
        padding-left: 20px;
      }
      .k-grid-header .k-header:nth-child(8){
        padding-left: 25px;
      }
      .k-grid-header .k-header:nth-child(9){
        padding-left: 30px;
      }
      .k-grid-header .k-header:nth-child(10){
        padding-left: 30px;
      }
 } */
 @media (min-width: 1500px) {
    .k-grid-header-wrap table {
        width: 100% !important;
    }
 }
 .k-grid-header-wrap table {
    width: 100% !important;
}
td.Description {
    padding-right: 15px;
}
::-webkit-scrollbar {
    display: none;
}

.filter-button {
    display: block;
}
.filter-button-split {
    display: flex;
}
.k-split-button .k-button {
    font-size: 12px;
}
.k-widget.k-split-button.k-button-group.filter-button button.k-button.k-button-icon {
    float: right;
    width: 26px !important;
}

/* @media screen and (min-width: 768px) and (max-width: 1024px){
    td.Description {
        padding-right: 15px;
    }  
    .k-grid-table  th.k-header:nth-of-type(5){
        width: 300px !important;
    }
.k-grid-table col:nth-of-type(5){
    width: 300px;
}
} */
.filter-table td.or-button:nth-of-type(5){
   height: 24px !important;
   margin-top: 3px;
}

.or-button {
    display: flex;
    margin-top: 7px;
}
button.td-button.or-bord {
    border-right: 1px solid rgba(185,185,185,0.56);
    margin: 3px 3px;
}
tbody.filter-tbody tr td .k-widget.k-split-button.k-button-group.filter-button:nth-of-type(2){
    height: 24px !important;
    margin-top: 3px;
 }
 .k-checkbox {
    border-radius: 0;
    margin: 0;
    padding: 0;
    width: 12px;
    height: 12px;
    line-height: initial;
    border-width: 2px;
    border-style: solid;
    outline: 0;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    -webkit-appearance: none;
    top: -3px;
    border: 1px solid #C4C4C4;
        margin-top: 15px;
        background: #fff;
}
 thead .k-checkbox {
        margin-top: 0px !important;

 }
/*toggle*/
 .Buttontest {
  cursor: pointer;
  margin: 0 0 12px;
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  background-color: #00d1b2;
  border-color: transparent;
  color: #fff;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
  position: relative;
  vertical-align: top;
}

.CenterAlign {
  top: 25%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -25%);
}


.toggle-heading {
    height: 52px;
    /* width: 684px; */
    background-color: #0F233D;
   /* margin: 0px -12px 0px -12px;*/
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1;
}
span.add-discount-rule {
    margin-left: 30px;
    height: 65px;
    width: 137px;
    color: #FFF;
    font-family: "IBM Plex Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 52px;
}
/* 03-09-2012 */
.k-checkbox + .k-checkbox-label, .k-checkbox-label + .k-checkbox {
   color: #464646;
    font-size: 12px;
    font-weight: 400;
    top: -3px;
    margin-left:15px; 
}
img.CheckGroupIcon {
    height: 12.89px;
    width: 8px;
    margin: 0px 12px 0px 0px;
}
.form-group.form-group-icon {
    margin-left: 9px;
}

/* .col-12.row-col-md{
    padding-left: 0px;
    padding-right: 7px;
} */
/* end 03-09-2012 */
/* .Alert:empty {
  padding: 0;
} */

/*end toggle*/


/************************ 27-08.21 *************************/
.right-discount-form input[type=text], .right-discount-form select, .right-discount-form textarea {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 25px;
    resize: vertical;
    color: #464646;
    font-family: "IBM Plex Sans";
    font-size: 12px;
  }
  
  .right-discount-form input[type=submit] {
    background-color: #2666E3;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    width: 100%;
    height: 48px;
    font-size: 14px;
}
  

  .right-discount-form label {
    color: #464646;
    font-size: 11px;
    font-weight: 500;
    font-family: "IBM Plex Sans";
}
/*.right-discount-form {
    padding-top: 20px;
}*/
.right-discount-form .row .col-6 {
    width: 50%;
    padding-left: 7px;
    padding-right: 7px;
}
.col-12{
    padding-left: 7px;
    padding-right: 7px;
}
.sel-left {
    width: 20%;
    float: left;
}
.sel-left select{
   border-radius: 0px;
}
.sel-right {
    float: left;
    width: 79%;
}
.sel-right select {
    border-left: 0px!important;
    border-radius: 0px 4px 4px 0px;
}
.right-discount-form select {
    outline: none;
}
.model-bottom {
    position: absolute;
    bottom: 0px;
    right: 0;
    left: 0;
}
.dis-form {
    padding: 0 10px;
}
.dis-form .row {
    justify-content: inherit;
}
.dis-form select {
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
    -webkit-appearance: none;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAAXNSR0IArs4c6QAAACxJREFUKFNjZCAAGIlRsBqfIpgJuBSFIluBrigUZDK6G2CKwJLYFGA4h6AvAN9hA7RQQBZFAAAAAElFTkSuQmCC) white;
    background-repeat: no-repeat;
    background-position: 97%;
    padding-right: 4px;
    color: #595959;
    font-size: 11px;
    font-weight: 500;
    font-family: 'IBM Plex Sans', sans-serif;
    position: relative;
    cursor: pointer;
}
.modal-dropdown span.k-icon.k-i-arrow-s {
   overflow: hidden;
    overflow: -moz-hidden-unscrollable;
    -webkit-appearance: none;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAAXNSR0IArs4c6QAAACxJREFUKFNjZCAAGIlRsBqfIpgJuBSFIluBrigUZDK6G2CKwJLYFGA4h6AvAN9hA7RQQBZFAAAAAElFTkSuQmCC) white;
    background-repeat: no-repeat;
    background-position: 97%;
    padding-right: 4px;
    color: #595959;
    font-size: 11px;
    font-weight: 500;
    font-family: 'IBM Plex Sans', sans-serif;
    position: relative;
    cursor: pointer;
}
.modal-dropdown .k-i-arrow-s::before {
    content: none;
}
.dis-form select option{
   font-size: 11px;
   padding-bottom: 5px;;
}
.logo {
    position: relative;
    /* left: -22px; */
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .logo {
        position: relative;
        left: 0;
    }
/*    .right-discount-form {
        padding-top: 10px;
    }*/
    .right-discount-form input[type=text], .right-discount-form select, .right-discount-form textarea {
        margin-bottom: 6px;
    }
    .navbutton {
        margin: 8px -1px 0px 76px;
    }
}
@media screen and (min-width: 1199px) and (max-width: 1400px){

.navbutton {
    /* width: 92px; */
    background-color: #2666E3;
    color: white;
    /* margin: 8px -1px 0px 66px; */
}
}


.makeStyles-paper-2 {
    color: rgba(0, 0, 0, 0.54);
    padding: 0;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 0;
}
.k-grid td {
    vertical-align: top;
    padding: 8px 6px;
    font-size: 12px;
}
/* .k-grid tr td.CheckBoxInput {
} */
.k-grid tr td.CheckBoxInput .GroupIcon {
    margin-left: 10px;
    margin-top: 10px;
}
/* .navbar {
    margin-bottom: 20px;
    background-color: #FFF;
    box-shadow: 0 1px 2px 0 rgb(179 179 179 / 50%);
    margin-top: 0;
    padding: 0px 0;
} */
.navbar {
    /* margin-bottom: 20px; */
    height: 48px;
    background-color: #FFF;
    box-shadow: 0 1px 2px 0 rgb(179 179 179 / 50%);
    margin-top: 0;
    padding: 0px 0;
    top: 0;
    position: fixed;
    /*correct by yamini*/
    width: 100%;
    /*correct by yamini*/
    z-index: 9999;
    /*correct by yamini*/
    /* margin-bottom: 20px;
    background-color: #FFF;
    box-shadow: 0 1px 2px 0 rgb(179 179 179 / 50%);
    margin-top: 0;
    padding: 0px 0;
    top: 0;
    width: 100%; */
}
.sidebar-menu {
    overflow: hidden;
    position: fixed;
    color: #fff;
    left: 34px;
    /* 
    position: fixed;
    color: #fff;
    left: 34px;
    top: 64px; */
}

/*==============  satya ============*/

.right-discount-form .makeStyles-divider-1{
	width: 96%;
	margin: 16px auto;
}

.right-discount-form .dis-form {
    padding: 18px 12px;
}
.right-discount-form .model-bottom{
	position: sticky;
}
.k-checkbox:checked, .k-checkbox.k-checked {
    border-color: #2666e3;
    color: #ffffff;
    background-color: #2666E3;
}
.navbar > div {
    padding:0 30px;
}

.menu-right span.k-icon::after {
    content: "";
    background: #fff;
    height: 37px;
    width: 1px;
    position: absolute;
    left: -10px;
}
.menu-right .k-link {
	color: #ffffff;
	font-size: 12px;
	font-weight: 500;
	background: #2666E3!important;
	border-radius: 3px;
}
.menu-right .navbutton {
    border-radius: 3px;
}
.Sort {
    display: inline-block;
        margin-right: 5px;
}
.Sort .k-item{
	    border: 1px solid #CACACA;
    border-radius: 3px;
}
.Sort span.k-link.k-menu-link {
    font-size: 11px;
}

.k-menu-popup.k-popup.k-child-animation-container {
	box-shadow: 1px 4px 20px #00000017;
	border-radius: 3px;
	background: #fff;
}


.k-menu-popup .k-item{
	font-size: 11px;
	display: block;
	 flex: inherit;
}
.k-menu-popup .k-menu-link{
 	display: block;
    flex: inherit;
    padding: 5px 13px;
/*    padding-right: 10px;*/

}

.k-window-title{
    font-family: 'IBM Plex Sans', sans-serif;
}
/*.k-window-titlebar {
    padding: 25px 30px 0;
    }*/
.k-window-content, .k-prompt-container {
    padding: 8px 30px 35px!important;
        overflow: initial;
}
.k-dialog {
    height: auto;
}
.Dropdown-control {
    border-color:#BFBFBF!important;
    }
.k-button-icon span.k-icon.k-i-x {
    font-size: 22px;
    font-weight: lighter!IMPORTANT;
}
.Dropdown-arrow {
    border-color: #464646 transparent transparent!important;
    }
    .is-open .Dropdown-arrow {
    border-color: transparent transparent #464646!important;
}


.group-item .button-group .Button{
    display: flex;
}
.sort_drop{
	border: 1px solid #AAA!important;
	border-radius: 3px;
}
.div-Sort ul li:nth-child(2n){
    border-bottom: 1px solid #AAA;
}
 .div-Sort ul li:last-child {
    border:0!important;
}
.div-Sort{
	border: 1px solid #AAA!important;
	border-radius: 3px;
	background: #ffffff;
}
.div-Sort ul{
   padding: 0;
   margin: 0
}
.div-Sort ul li{
		list-style: none;
		font-size: 12px;
		color: #000;
		opacity: 0.6;
		line-height: 28px;
		height:28px;
		padding: 4px 15px;
}

.div-Sort ul li:hover{
		background: #F2F2F2;
}

.k-menu-expand-arrow {
    margin-left: 27px;
}

.k-state-active {
    background-color: transparent!important;
}
.k-menu:not(.k-context-menu) > .k-item:hover, .k-menu:not(.k-context-menu) > .k-item.k-state-hover {
     background-color: transparent!important;
}

.right-discount-form .secons-dis-form{
      padding: 33px 12px;
}
.sty_sub_set .k-menu-link {
    padding: 0;
  }


.sty_acc_form .Dropdown-root.discount-form-dropdown{
  margin-bottom: 0!important
}