

/* 

.k-widget.k-header.k-floatwrap.k-tabstrip.k-tabstrip-top.advance-search-tab-strip {
    height: 146px;
    width: 143.85px;
    background-color: #F8FAFF;
}

.advance-search-tab-strip ul.k-tabstrip-items.k-reset {
    float: left;
    display: grid;
    background-color: #F8FAFF;
    padding-bottom: 15px;
}
.k-widget.k-header.k-floatwrap.k-tabstrip.k-tabstrip-top.advance-search-tab-strip {
    display: inline-table;
} */
/* .k-content {
    width: 59%;
    float: left;
} */
/* ul.k-tabstrip-items li.k-item.k-state-active.k-tab-on-top.advance-search-tab-strip {
    background-color: #F8FAFF;
    color: #2666E3;
    border-color:#2666E3 ;
} */
/* .k-widget.k-header.k-floatwrap.k-tabstrip.k-tabstrip-top.advance-search-tab-strip {
    padding: 0 40px;
    width: 100%;
}
 */
 /* .k-tabstrip-items .k-link {
    padding: 10px 15px;
    font-family: "IBM Plex Sans";
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
} */
/* .advance-search-group-dialogul.k-tabstrip-items.k-reset {
    width: 18%;
    float: left;
    display: grid;
    background-color: #F8FAFF;
    padding-bottom: 15px;
}
.k-tabstrip > .k-content {
    background-color: transparent;
    width: 76%;
} */
.advance-search-tab-strip ul.k-tabstrip-items.k-reset {
    width: 18%;
    float: left;
    display: grid;
    background-color: #F8FAFF;
}
.advance-search-tab-strip.k-tabstrip-content.k-state-active, .advance-search-tab-strip.k-tabstrip > .k-content.k-state-active {
    display: block;
    position: absolute;
    left: 202px !important;
}
.advance-search-tab-strip .k-tabstrip-items {
   text-transform:initial
}
.advance-search-tab-strip .k-tabstrip-items .k-link {
    padding: 10px 15px;
    font-family: "IBM Plex Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
 .advance-search-tab-strip ul.k-tabstrip-items li.k-item.k-state-active.k-tab-on-top {
    /* background-color: #F8FAFF;
    color: #2666E3;
    font-weight: 500;
    border-color:#2666E3 ; */
    border-color: #2666E3;
    color: #2666E3;
    background: #dfe8ff;
    font-weight: 500 !important;
    border-left: 2px solid #2666E3;
}
.advance-search-group-dialog .advance-search-tab-strip ul.k-tabstrip-items li.k-item.k-state-active.k-tab-on-top {
    border:0;
    background: #d9e3fb!important; 
}
.advance-search-group-dialog .advance-search-tab-strip ul.k-tabstrip-items li.k-item.k-state-active.k-tab-on-top .k-link{
    font-weight: 700!important
}
.k-tabstrip-items .k-item:first-child {
    border-bottom: 0px solid #F8FAFF;
    margin-bottom: 7px;

}
.advance-search-tab-strip .k-tabstrip-content, .k-tabstrip > .k-content {
    padding: 0px 24px;
    border-width: 0px;
    border-style: solid;
    border-color: inherit;
    display: none;
    overflow: auto;
    flex: 1 1 auto;
}
/*=======================Modal===========================*/
.k-dialog-wrapper.advance-search-group-dialog .k-dialog {
    position: relative;
    height: 540px;
    width: 1035px;
    border-radius: 20px;
    background-color: #FFF;
}
.advance-search-group-dialog{
    height: "26px";
    width: "117px";
    color: "#464646";
    font-size: "20px";
    line-height: "26px";
    margin-left: "50%"
}
.advance-search-group-item-btn
{
    border: 1px solid rgb(214, 209, 209);
    margin-right: 7px;    
    margin-top: 12px;
}
/* Card */
.k-card-body.advance-card-body {
    height: 34px;
    width: 231px;
    border-radius: 2px;
    background-color: #F8FAFF;
    white-space: break-spaces;
}
.k-card.abvance-card.k-card-vertical {
    border-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.87);
    background-color: white;
    box-shadow: none;
}
.makeStyles-paper-2 {
    color: rgba(0, 0, 0, 0.54);
    padding: 1px 1px 0px 8px;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 8px;
}
/* check-box */
/* .advance-check-box.k-ce */
.advance-check-box .k-checkbox{
  margin-top: 0px !important;
}
/* button */
button.k-button.advance-search-save-btn {
    height: 32px;
    width: 64px;
    border-radius: 3px;
    background-color: #2666E3;
    color: white;
    position: fixed;
    margin-top: -55px;
    right: 20%;
    font-size: 12px;
}
.advance-search-group-dialog .k-window-actions {
    margin-inline-end: 0;
}
.advance-search-group-dialog .makeStyles-divider-6 {
    margin: 20px 0 0px 8px;
}
.advance-badge-container.k-badge-container {
    margin: 0 21px 20px 0;
    left: 11px;
    margin-top: -10px;
}
.advance-badge-wrap {
    margin-top: 25px;
    text-align: center;
}
.k-badge-solid.k-badge-primary {
    border-color: #ECECEC;
    background-color: #ECECEC;
    color: #464646;
}

.advance-search-type-search.MuiFormControl-root.MuiTextField-root input {
    box-sizing: border-box;
    height: 32px;
    width: 276.25px;
    border-radius: 1px;
    background-color: #FFF;
    border: 1px solid #F4F4F4;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: justify;
    text-indent: 25px;
}
.MuiIconButton-label {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
    margin-left: -420px;
}
.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.0rem !important;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

.sty_table{
    height: 255px;
    overflow: auto;
}
div#tab1 .dist1 {
    font-size: 11px;
    font-weight: 500!important;
    line-height: 14px;
}
.advance-search-group-dialog .Dropdown-root {
    margin-top: 8px;
}
.advance-search-group-dialog  .makeStyles-container1-2 {
    grid-gap: 84px;
}
.advance-search-group-dialog  .k-tabstrip-items .k-item {
    border-left: 0;
}
.advance-search-group-dialog  .k-window-title {
    padding: 0.5em 8px;
}

.advance-search-group-dialog .MuiInputBase-input::-webkit-input-placeholder {
    opacity: inherit;
    font-weight: 400;
}

.advance-search-group-dialog .makeStyles-container2-3 {
    display: grid;
    grid-gap: 5px;
}

.advance-search-group-dialog  .k-slider-horizontal {
    width: 100%;
    }

.k-slider .k-draghandle {
    border-color: #2666E3;
    color: #ffffff;
    background-color: #2666E3;
    border-radius: 50%;
    border:2px solid #ffffff;
}
.k-slider .k-slider-selection {
    background-color: #2666E3;
}
.k-slider span.k-label {
    font-size: 11px;
    font-weight: 500;
    color: #4D4D4D;
}

.add-new-address-tab-strip .k-tabstrip-items .k-item:first-child {
    margin: 0 20px 0 0;
}
.add-new-address-tab-strip ul.k-tabstrip-items.k-reset {
    border-bottom: 1px solid #D7D7D7;
}
.add-new-address-tab-strip .k-tabstrip-items .k-link {
    padding: 10px 0!important   ;
    }
 .add-new-address-tab-strip    li.k-item.k-state-active.k-tab-on-top {
    border-bottom: 4px solid #2666E3;
}
.sty_acc_modal .k-tabstrip > .k-content {
    width: auto!important;
}

.sty_acc_modal .MuiTypography-gutterBottom{
    margin: 0
}
.sty_acc_modal .k-dialog {
    margin-top: 0!important;
        }

        
        
#dialog_pr {
    padding: 0;
}

#dialog_ch {
    padding: 15px 0;
}